@charset "UTF-8";
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.navbar {
  background-color: white;
}

.nav-item a:hover {
  color: purple;
}

.dropdown-item:active {
  background-color: unset;
}

.containerCarousel {
  padding-right: 0;
  padding-left: 0;
}

.carousel-item img {
  width: 80%;
  height: 60%;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: black;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.sobreNos {
  background-color: purple;
  color: white;
}

.descrição h3 {
  padding: 4%;
  text-align: left;
  margin-bottom: 8%;
  font-weight: bold;
}

.descrição p {
  margin-left: 4%;
  text-align: left;
  text-align: justify;
}

.carouselMembros {
  background-color: purple;
}

.cards-wrapper {
  display: flex;
  justify-content: center;
  background-color: purple;
}

.card img {
  max-width: 100%;
  max-height: 100%;
}

.card {
  margin: 0 6em;
  background-color: purple;
  border: none;
  border-radius: 0;
  color: white;
  text-align: justify;
}

.card h5 {
  font-weight: bold;
}

.carousel-innerMembros {
  padding: 1em;
  padding-top: 5%;
}

@media (min-width: 768px) {
  .card img {
    height: 11em;
  }
}
@media (max-width: 360px) {
  .descrição p {
    text-align: justify;
  }
}
@media (max-width: 695px) {
  .flexSobreNos {
    display: block;
    padding-bottom: 20%;
    padding-top: 20%;
  }
}
@media (max-width: 1104px) {
  .contatoLinha {
    display: block;
    padding: 4%;
  }
  .googleMaps {
    padding: 4%;
  }
}
.nossaPublicacaoh3 {
  font-weight: bold;
  padding: 4%;
  color: purple;
}

.publicações .card {
  background-color: white;
  color: purple;
}

.botaoPublicações button {
  background-color: purple;
  border-radius: 50px;
  border: none;
  margin: 14%;
}

.entreEmContato {
  padding-left: 1%;
  padding-top: 6%;
  padding-bottom: 3%;
  font-weight: bold;
  color: purple;
}

.contatoLinha input {
  border-style: solid;
  border-width: 2px;
  border-color: purple;
}

.contatoLinha textarea {
  border-style: solid;
  border-width: 2px;
  border-color: purple;
}

@media (max-width: 360px) {
  .entreEmContato {
    padding-left: 7%;
    padding-top: 16%;
  }
  .googleMaps iframe {
    padding-right: 30%;
  }
}
.contato {
  padding-bottom: 10%;
}

.footer {
  color: white;
  background-color: purple;
  padding-top: 2%;
  padding-bottom: 2%;
}

.redesSociais img {
  width: 10%;
  height: 70%;
}

@media (max-width: 635px) {
  .footerGrid {
    display: block;
    padding-bottom: 3%;
  }
}/*# sourceMappingURL=style.css.map */